In [ ]:
                                           #Loop based problems

In [1]:
#1) to print numbers from 1-10 using loop

In [38]:
print("numbers from 1 to 10:")

numbers from 1 to 10:

In [39]:
for n in range (1,11):      # for loop to print numbers 1-10
    print(n, end=' ')

1 2 3 4 5 6 7 8 9 10

In [40]:
#2) to print sum of all numbers in a list using for loop

In [41]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [42]:
total=0
for i in range(0, len(list1)):      #iterate each element in list and add it to variable total
               total=total+list1[i]

In [43]:
print("the sum of all elements in list is:",total)

the sum of all elements in list is: 55

In [44]:
#3) to print every element in list in reverse using for loop

In [48]:
s="simranjeet"

In [51]:
str=" "
for i in s:
    str=i+str

In [53]:
print("the reverse of the above string is:",str)

the reverse of the above string is: teejnarmis

In [54]:
#4) to find the factorial of a given number using for loop

In [65]:
n=int(input())

 5

In [66]:
fact=1
for i in range (1,(n+1)):
    fact=fact*i

In [68]:
print("the factorial of the above number is:",fact)

the factorial of the above number is: 120

In [69]:
#5) to print multiplication of a number using for loop

In [79]:
n=int(input())

 3

In [81]:
for i in range (1,11):    
    print(n,'*',i,'=',n*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [82]:
#6) to count the number of odd and even numbers in a list using loop

In [83]:
list1=[2,3,4,5,6,7,8]

In [85]:
even=0
odd=0
for i in range(0,len(list1)):
    if(i%2==0):
        even+=1
    else:
        odd+=1

In [86]:
print("the number of even numbers are:",even)

the number of even numbers are: 4

In [87]:
 print("the number of odd numbers are:",odd)

the number of odd numbers are: 3

In [88]:
#7) to print squares of a number from 1-5 using for loop

In [105]:
num=6
for i in range (0,num):
    print("sqaure",i,i**2)

sqaure 0 0
sqaure 1 1
sqaure 2 4
sqaure 3 9
sqaure 4 16
sqaure 5 25

In [106]:
#8) to find length of string without using len()

In [111]:
s="honolulu"

In [115]:
length=0
for i in s:
     length+=1

In [116]:
print("the length of the string is:",length)

the length of the string is: 8

In [1]:
#9) to calculate the average of a list using for loop

In [9]:
list1=[1,2,3,4,5]

In [11]:
total=0
for i in range (0,(len(list1))):
    total= total+list1[i]

In [12]:
average=total/len(list1)

In [14]:
print("the average of the above list is:",average)

the average of the above list is: 3.0

In [15]:
#10) to print the first n fibonacci numbers using for loop

In [20]:
num= int(input("enter range of number:"))

enter range of number 10

In [31]:
first=0
second=1

In [32]:
for n in range(0,num):
    if (n<=1):
        next=n
    else:
        next=first+second
        first=second
        second=next
    print(next)

0
1
1
2
3
5
8
13
21
34

In [33]:
#11) to check if a given list contains duplicates using for loop

In [34]:
list1=[11,2,5,4,6,6,8]

In [35]:
l=[]

In [36]:
for i in list1:
    if i not in l:
        l.append(i)
    else:
        print(i,end=' ')

6

In [37]:
#12) to print prime numbers in a given range using for loop

In [48]:
num=9

In [49]:
if (num>1):
    for i in range(2,int(num/2)+1):
        if(num%i)==0:
            print("the number is not prime")
            break
    else:
        print("the number is prime")
else:
    print("the number is not prime")

the number is not prime

In [51]:
#13) to develop a program that counts the number of vowels in a string using for loop

In [82]:
s="MissisippI"

In [83]:
s.lower()

'missisippi'

In [84]:
count=0
for i in s:
    if(i=='a'or i=='e' or i=='o' or i=='u' or i=='i'):
            count+=1

In [85]:
print("the number of vowels in the string are:",count)

the number of vowels in the string are: 3

In [86]:
#14) to find the maximum element in 2D list using for loop

In [89]:
list1=[34,56,78,12,64]

In [90]:
max=list1[0]

In [92]:
for i in list1:
    if i > max:
        max=i

In [93]:
print("the maximum number in the list is:",max)

the maximum number in the list is: 78

In [94]:
#15) to remove all occurences of a specific element using for loop

In [8]:
s="this is fus"

In [9]:
new_str=" "
for i in range (0,(len(s))):
     if(i!=8):
            new_str=new_str+s[i]

In [10]:
print("the new string is:",new_str)

the new string is:  this is us

In [11]:
#16) to generate a multiplication table of numbers from 1-5 using nested if

In [20]:
num=1
for x in range(1,6):
    for i in range(1,11):
        print(num,'*',i,'=',num*i,'\n')
    num+=1    
x+=1

1 * 1 = 1

1 * 2 = 2

1 * 3 = 3

1 * 4 = 4

1 * 5 = 5

1 * 6 = 6

1 * 7 = 7

1 * 8 = 8

1 * 9 = 9

1 * 10 = 10

2 * 1 = 2

2 * 2 = 4

2 * 3 = 6

2 * 4 = 8

2 * 5 = 10

2 * 6 = 12

2 * 7 = 14

2 * 8 = 16

2 * 9 = 18

2 * 10 = 20

3 * 1 = 3

3 * 2 = 6

3 * 3 = 9

3 * 4 = 12

3 * 5 = 15

3 * 6 = 18

3 * 7 = 21

3 * 8 = 24

3 * 9 = 27

3 * 10 = 30

4 * 1 = 4

4 * 2 = 8

4 * 3 = 12

4 * 4 = 16

4 * 5 = 20

4 * 6 = 24

4 * 7 = 28

4 * 8 = 32

4 * 9 = 36

4 * 10 = 40

5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

5 * 6 = 30

5 * 7 = 35

5 * 8 = 40

5 * 9 = 45

5 * 10 = 50

In [21]:
#17) to convert temperature from fahrenheit to celsius using for loop

In [41]:
list1=[100]

In [42]:
temp=0
for i in range(0, (len(list1))):
    if(i<=len(list1)):
        temp=(i*1.8)+32
    i+=1

In [45]:
print("the temperature in celsius from 100 fahrenheit is:",temp)

the temperature in celsius from 100 fahrenheit is: 32.0

In [46]:
#18) to develop a right angled pattern of '*'

In [52]:
for i in range(0,6):
    for x in range(i+1):
        print('*',end=' ')
    print(' ')

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [53]:
#19) to print common elements from two lists using for loop

In [69]:
list1=[1,2,3,4,5]

In [70]:
list2=[3,4,5,6,7]

In [72]:
for i in list1[:]:
    if i in list2:
        list1.remove(i)
        list2.remove(i)

In [73]:
print("list1:",list1)

list1: [1, 2]

In [74]:
print("list2:",list2)

list2: [6, 7]

In [75]:
#20) write a program to GCD of two numbers using for loop

In [81]:
num1=int(input())

 20

In [82]:
num2=int(input())

 40

In [83]:
gcd=1

In [84]:
for i in range(1, min(num1,num2)):
    if num%i==0 and num%2==0:
        gcd=i

In [85]:
print("the greatest common factor of 20 and 40 is:", gcd)

the greatest common factor of 20 and 40 is: 10

In [1]:
#21) to find sum of digits in list using list comprehension

In [2]:
list1=[12,13,14,15]

In [3]:
print("the original list is:",list1)

the original list is: [12, 13, 14, 15]

In [6]:
res=list(sum(int(digit) for digit in str(num)) for num in list1)

In [7]:
print(" the final list is:",res)

 the final list is: [3, 4, 5, 6]